
.treasure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #FFF;
}

.outerBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1608924066819-930edc42986a?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.treasure-title {
  font-size: 2.5rem;
  font-family: 'TreasureMapFont', sans-serif;
}

.treasure-subtitle {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.login-box {
  margin-top: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;margin-left: 5%;
  
  border-radius: 10px;
  width: 80%;
  box-shadow: 0 0 10px #FFD700;
}

.input-field {
  align-items: center;
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.submit {
  background-color: #FFD700;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.input_button{
  display: flex;
  gap: 40px;
}
.google-button {
  background-color: #444; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center; 
  justify-content: center; 
  width:80%;
  margin-top: 10px;
}

.google-icon {
  width: 20px;
  height: 20px; 
  margin-right: 8px;
}

.gray{
  background-color: gray;
}

#profile-image{
  content: 'Choose a file...';
  background-color: #12122122;
  align-items: center;
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.profile-img{
  display: flex;
}

.forgot-pass span{
  color: rgb(129, 226, 246);
  cursor: pointer;
}



.project-name {
  color: #FFD700;
  font-family: "Spicy Rice", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  font-variation-settings:
  "BLED" 0,
  "SCAN" 0,
  "XELA" 0,
  "YELA" 0;
  padding: 20px;margin-left: 5%;
  
  /* border-radius: 10px;
  width: 30%;
  box-shadow: 0 0 10px #d65074;
  margin-left: 30%; */
}
